*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 4em;
  width: 100%;
}

header {
  background-color: #819a91;
  padding: 8px 0;
  color: #eeefe0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-right-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  align-items: center;
}

nav a,
.header-left-section a {
  text-decoration: none;
  color: #eeefe0;
}
nav a:active,
.header-left-section a:active {
  color: #d8dbaf;
}

.isDisabled {
  background-color: #c5f0c7;
  cursor: unset;
}

#first-section {
  scroll-margin-top: 80px; /* Adjust to match your header height */
}
#second-section {
  scroll-margin-top: 190px;
}
#third-section {
  scroll-margin-top: -15px;
}

@media (max-width: 820px) {
  .header-right-section {
    justify-content: space-between;
  }
}

@media (max-width: 600px) or (max-width: 820px) {
  .header-columns {
    text-align: center;
    line-height: 40px;
    grid-template-columns: 1fr;
  }

  .story-container {
    margin-bottom: 40px;
  }
  #second-section {
    scroll-margin-top: 150px;
  }
}

/* ^^  HEADER ^^*/
/* ||         || */

.first-section {
  line-height: 40px;
  padding-top: 20px;
  min-height: 645px;
}

.first-section-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.first-section-container h2 {
  color: #819a91;
}

.file-container {
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 0.5em 2em;
  border-radius: 20em;
  border: none;
  background-color: #a7c1a8;
  color: #eeefe0;
}

.image-preview {
  object-fit: contain;
  width: 500px;
  height: 400px;
  margin-left: -50px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.generated-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  row-gap: 50px;
}

button {
  padding: 0.5em 2em;
  border-radius: 20em;
  border: none;
  background-color: #a7c1a8;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.upload-image-button {
  margin-bottom: 2em;
}

@media (max-width: 600px) or (max-width: 820px) {
  .file-container {
    margin: 0 20px;
  }
  .generated-columns {
    grid-template-columns: 1fr;
  }
  .image-preview {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 20px;
  }
  .story-container {
    padding: 0 15px;
  }

  .first-section {
    padding-top: 50px;
    min-height: 700px;
  }

  .story-container {
    padding: 0;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .generated-columns {
    grid-template-columns: 1fr;
  }
  .image-preview {
    margin: 0 auto;
  }

  .story-container {
    padding: 0 50px;
  }

  .second-section-container {
    width: 100%;
  }
}

/* ^^ FIRST - SECTION ^^ */
/* ||                 || */

.second-section {
  background: #a7c1a8;
  width: 100%;
}

.second-section-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: #eeefe0;
  align-items: center;
  padding: 80px 20px;
}

.even-columns h2 {
  font-size: 2.5em;
}

.even-columns p {
  text-align: left;
}

@media (max-width: 600px) {
  .even-columns {
    grid-template-columns: 1fr;
  }

  .even-columns h2 {
    font-size: 2em;
  }

  .even-columns p {
    text-align: center;
  }
}

/* ^^ SECOND - SECTION ^^ */
/* ||                  ||*/

.third-section-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  line-height: 90px;
  color: #819a91;
  margin-bottom: 100px;
}

.third-section-container h1 {
  font-size: 3em;
}

.author-photo {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
}

.socials-container img {
  width: 50px;
  height: 50px;
}

.socials-container {
}

.linkedin-logo {
  margin-right: 40px;
}

@media (max-width: 600px) {
  .author-photo {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .even-columns p {
    padding: 0 70px;
  }
}

@media (min-width: 820px) and (max-width: 1200px) {
  .story-container {
    margin-bottom: 50px;
  }
}

@media (max-width: 601px) or (max-width: 1200px) {
  .generated-columns {
    grid-template-columns: 1fr;
  }
  .image-preview {
    margin: 0 auto;
  }
  .second-section-container {
    width: 100%;
  }
  .even-columns {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

@media (max-width: 250px) {
  main {
    width: 250px;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(37, 32, 32);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FOR SCROLL MARGIN TOP IN SECOND SECTION */

@media (max-width: 820px) {
  #second-section {
    scroll-margin-top: 250px;
  }
}
